<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Category:</strong>
  <%= @question.category %>
</p>

<p>
  <strong>User:</strong>
  <%= @question.user %>
</p>

<%= link_to 'Give an Answer', new_question_answer_path(@question) %>
  <% @answers.each do |answer| %>
    <h4><%= answer.body %> posted by <%= answer.user.email %></h4>
  <% end %>